@model ShoppingCartViewModel




@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li style="padding-right: .5rem; padding-left: .5rem; padding-top: 0.5rem;">
        <a asp-controller="ShoppingCart" asp-action="Index">
            <span class=""><i class="fas fa-shopping-cart"></i></span>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}

else
{
    <li style="padding-right: .5rem; padding-left: .5rem; padding-top: 0.5rem;">
        <a asp-controller="ShoppingCart" asp-action="Index">
            <span class=""><i class="fas fa-shopping-cart"></i></span>
        </a>
    </li>
}
