<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/page.css" type="text/css" asp-append-version="true" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">


</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow fixed-top" >
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/bokmal_logo.png" alt="Bokmalen Logo" style="height: 40px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @await Component.InvokeAsync("CategoryMenu")


                        <partial name="_LoginPartial" />

                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<main role="main" class="flex-fill">
    <div class="container pages-container" style="padding-top: 4rem; padding-bottom: 4rem;">
        @RenderBody()
    </div>
</main>


  <footer class="border-top footer text-muted">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 mb-3 mb-md-0 text-center text-md-start">
                <img src="~/images/bokmal_logo.png" alt="Bokmalen Logo" style="height:50px;">
            </div>

           <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted text-decoration-none">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="text-muted text-decoration-none">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
           <div class="row mt-3 pb-3">
            <div class="col text-center">
                &copy; 2021 - Bokmal Online Bookstore
            </div>
        </div>
    </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
