<div class="text-center bg-image" style="
     background-image: url('/images/books_ordered.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;    
    margin-top: 2rem;
">
    <h3 class="mx-auto" style="font-weight: 300; width: 75%; ">
        @ViewBag.CheckoutCompleteMessage
    </h3>
</div>