@model HomeViewModel


@{
    ViewData["Title"] = "Bokmal Bookstore";
}

<h4 class=" mt-5 mb-0 text-uppercase ml-4" style="font-weight: 400; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Books of the week</h4>


  <div class="book-carousel d-flex flex-row flex-nowrap overflow-auto">

    @foreach (var book in Model.BooksOfTheWeek)
    {
        <partial name="_BookCard" model="book" />
    }

</div>

<partial name="_Carousel" />
