@model HomeViewModel


@{
    ViewData["Title"] = "Bokmal Bookstore";
}

<div class="hero-image-home mt-5">
</div>

<h4 class=" mt-5 mb-3 text-uppercase ml-3" style="font-weight: 300;">Books of the week</h4>


<div class="d-flex flex-wrap" id="booksoftheweek" style="padding-top:1.5rem; padding-bottom:1.5rem; ">

    @foreach (var book in Model.BooksOfTheWeek)
    {
        <partial name="_BookCard" model="book" />
    }

</div>

<partial name="_Carousel" />
